In [1]:
import pymongo

In [2]:
import pandas as pd

In [9]:
IphoneTel = pd.read_csv("C:/Users/FATOU/Desktop/ProjetNoSqlSurGit/ExtractionDesDonnees/DonneesExtraites/TelephoneIphoneJumia.csv")
TabletteTactile = pd.read_csv("C:/Users/FATOU/Desktop/ProjetNoSqlSurGit/ExtractionDesDonnees/DonneesExtraites/TabletteTabletteJumia.csv")

In [7]:
def dftomonogdb(df,collection_name):
    import pymongo
    connect = pymongo.MongoClient(host="localhost",port=27017)
    database = connect["WebCrawling"]
    collection = database[collection_name]

    for (row,rs) in df.iterrows():
       
        image = rs[0]
        name = rs[1]
        new_price = rs[2]
        old_price = rs[3]
        url =rs[4]
        d = {"image":image,"name":name,"new_price":new_price,
             "old_price":old_price,"url":url}
        
        collection.insert_one(d)
        
        
        
    print("All data are inserted to the Db")

In [11]:
collection_name="IphoneTel"
dftomonogdb(IphoneTel,collection_name)

All data are inserted to the Db

In [14]:
collection_name="TabletteTactile"
dftomonogdb(TabletteTactile,collection_name)

All data are inserted to the Db

In [6]:
maq=pd.read_csv("C:/Users/cheik/Documents/crawler/ExtractionDesDonnees/DonneesExtraites/maquillageJumia.csv")
ordi=pd.read_csv("C:/Users/cheik/Documents/crawler/ExtractionDesDonnees/DonneesExtraites/ordinateurImprimantejumia.csv")

In [9]:
collection_name="maquillage"
dftomonogdb(maq,collection_name)

All data are inserted to the Db

In [10]:
collection_name="ordinateur"
dftomonogdb(ordi,collection_name)

All data are inserted to the Db